{{> header }}

{{> navbar }}

<div class="row">
    <div class="col-8">
        <h1>About</h1>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ex eum dolorum dolores cupiditate quae inventore et architecto vitae consequuntur voluptates. Debitis fuga quis dignissimos ipsa non animi magnam consectetur velit.</p>
    </div>

     <div class="col-4">
        <img src="assets/img/about.jpg" class="img-thumbnail">
    </div>
</div>

{{> footer }}
